@import 'fonts.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    text-decoration: none;
    list-style: none;
    font-weight: 400;
}
body{
    background: url('../images/random2.png') no-repeat center center / cover;
}
.navbar{
    width: 100%;
    min-height: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.navbar__nav{
    width: 1110px;
    min-height: 42px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    object-position: center center;
}
.navbar__nav--logo{
    margin: auto;
    width: 540px;
    min-height: 42px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #d8d9d9;
}
.navbar__nav--logo img{
    width: 142px;
    height: 142px;
    padding: 5px;
}
.header{
    max-width: 100%;
    min-height: 50px;
}
.header__nav{
    width: 760px;
    min-height: 50px;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.header__nav h1{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'montserrat';
    color: #005191;
}
.content{
    width: 100%;
    min-height: 50px;
}
.content__nav{
    width: 900px;
    /* border: 1px solid red; */
    min-height: 35px;
    margin: auto;
    /* padding: 30px; */
    background: #005191;
    border-radius: 6px;
}
.content__nav--list{
    margin: auto;
    padding: 15px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.content__nav--list h3{
    color: aliceblue;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    font-family: 'montserrat';
}
.content__nav--list p{
    color: aliceblue;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    font-family: 'montserrat';
}
.content__links{
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    width: 900px;
    margin: auto;
    margin-top: 20px;
}
.card,
.card2{
    width: 300px;
    min-height: 60px;
    background: #005191;
    border-radius: 6px;
}
.card a,
.card2 a{
    padding: 20px;
    line-height: 20px;
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'montserrat';
}
.footer{
    width: 100%;
    min-height: 40px;
}
.footer__nav{
    width: 1160px;
    min-height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 30px;
}
.footer__nav img{
    width: 100px;
    margin: 6px 0;
}
.navbar_nav--elements{
    width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

}
.navbar_nav--elements a{
    margin-right: 10px;
    color: #005191;
    font-size: 40px;
}
.navbar_nav--elements a:hover{
    color: #005191;
}


@media (max-width: 1200px){
    .navbar__nav,
    .header__nav,
    .content__nav,
    .content__links,
    .footer__nav{
        width: 720px;
    }
    /* body{
        background: url('../images/random2.png') no-repeat center center / cover;
    } */
    .navbar_nav--elements a{
        margin-right: 10px;
        color: #ffffff;
        font-size: 40px;
    }
    .content__nav h1{
        color: linear-gradient(rgb(255, 255, 255) 50%, #005191 50%);
    }

}
@media (max-width: 992px){
    .navbar__nav,
    .header__nav,
    .content__nav,
    .content__links,
    .footer__nav{
        width: 720px;
    }
    /* .header__nav h1{
        color: beige;
    } */
    /* .header__nav h1{
        color: rgb(225, 225, 225);
    } */
    .header__nav h1{
        color: #ebebeb;
    }
}
@media (max-width: 768px){
    .navbar__nav,
    .header__nav,
    .content__nav,
    .content__links,
    .footer__nav{
        width: 576px;
    }
    /* .header__nav h1{
        color: rgb(255, 255, 255);
    } */
    .header__nav h1{
        color: #ffffff;
    }
}
@media (max-width: 576px){
    .navbar__nav,
    .header__nav,
    .content__links{
        width: 360px;
    }
    .navbar__nav--logo{
        width: 360px;
    }
    .content__nav--list h3{
        text-align: center;
    }
    .content__nav{
        width: 90%;
    }
    .content__nav--list h3{
        font-size: 20px;

    }
    .content__nav--list p{
        font-size: 16px;
    }
    .footer__nav{
        width: 90%;

    }
}
@media (max-width: 480px){
    .navbar__nav,
    .header__nav,
    .content__nav,
    .content__links,
    .footer__nav{
        width: 360px;
    }
    .content__links{
        margin: auto;
        margin-top: 15px;
    }
    .card,
    .card2{
        display: block;
    }
    .content__nav{
        width: 90%;
    }
    .content__nav--list h3{
        font-size: 18px;

    }
    .content__nav--list p{
        font-size: 14px;
    }
    .card a,
    .card2 a{  
        font-size: 12px;
        line-height: 14px;
    } 
    /* .header__nav h1{
        color: #FFFFFF;
    } */
    /* .navbar__nav--logo{
        border-bottom: 1px solid rgb(255, 255, 255);
    } */
    .footer__nav{
        width: 90%;
    }

}
@media (max-width: 350px){
    .navbar__nav,
    .header__nav,
    .content__links,
    .footer__nav{
        width: auto;
    }
   
}
@media (max-width: 320px){
    .navbar__nav,
    .header__nav,
    .content__nav,
    .footer__nav{
        width: auto;
    }
    
    .navbar__nav--logo{
        width: 260px;
    }
    .content__nav{
        width: 90%;
    }
    .content__nav--list h3{
        font-size: 16px;

    }
    .content__nav--list p{
        font-size: 12px;
    }
    .card a,
    .card2 a{  
        font-size: 12px;
        line-height: 14px;
    } 
    /* .navbar__nav--logo{
        border-bottom: 1px solid rgb(255, 255, 255);
    } */
    .footer__nav{
        width: 90%;
    }
    .content__links{
        gap: 15px;
    }
    .navbar_nav--elements a{
        font-size: 35px;

    }
}


